workflow1
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.mensagem }}",
        "options": {
          "systemMessage": "Você é o Tutor Pro, um assistente técnico de estudos focado em produtividade.\n\nRegras de Comportamento:\n\nIdentifique o que o aluno estudou com base na mensagem recebida.\n\nForneça uma dica técnica ou curiosidade acadêmica real sobre o tema específico que ele estudou.\n\nSe o tempo de estudo for baixo (menos de 15 minutos), sugira uma técnica de foco como Pomodoro.\n\nRestrição de Estilo: Use no máximo 2 emojis por resposta. Seja profissional, direto e útil. Não seja excessivamente animado, foque no conteúdo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        112,
        16
      ],
      "id": "4d7e3a6b-1ee0-4d48-a98b-1a8165e2d273",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        48,
        256
      ],
      "id": "8e1cf0fb-aace-44d0-88c7-45f39553af2a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "x9RDO1R4cWGdMkrM",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.IdConversa }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        256
      ],
      "id": "c0cc5689-5f5f-4549-a8d8-548b9bdc911c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "=Olá! Aqui está o resumo da sua sessão de estudo sobre {{materia}}. Dica do Tutor: {{output}}",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        96
      ],
      "id": "db132ab4-72d8-4f6d-99e6-57d56da498e0",
      "name": "Send a message",
      "webhookId": "eb13c246-a5cb-47e6-9a4c-4e1b7213d229",
      "credentials": {
        "gmailOAuth2": {
          "id": "iPN7YhBGi4hD2drq",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xznCFDZ2B63uparh-AwxcTN8mh7ySHBxdKgWqyUiigY",
          "mode": "list",
          "cachedResultName": "Sistemas de estudos IA ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xznCFDZ2B63uparh-AwxcTN8mh7ySHBxdKgWqyUiigY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xznCFDZ2B63uparh-AwxcTN8mh7ySHBxdKgWqyUiigY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Matéria": "={{ $('Webhook').item.json.body.materia }}",
            "Data": "={{ $now.format('dd/MM/yyyy') }}",
            "Semana do Ano": "={{ $now.weekNumber }}",
            "Tempo de Estudo": "={{ $('Webhook').item.json.body.tempo }}",
            "Email do Usuário": "={{ $('Webhook').item.json.body.email }}",
            "Dica da IA": "={{ $node[\"AI Agent\"].json[\"output\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email do Usuário",
              "displayName": "Email do Usuário",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Matéria",
              "displayName": "Matéria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tempo de Estudo",
              "displayName": "Tempo de Estudo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Semana do Ano",
              "displayName": "Semana do Ano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dica da IA",
              "displayName": "Dica da IA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        -64
      ],
      "id": "0f135000-e527-4724-a758-136544ef0c51",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "vM5ku02cpyXNjE6y",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "estudos_usuario",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        16
      ],
      "id": "67eaf61e-e67b-4f6d-94fc-3e24088ea33d",
      "name": "Webhook",
      "webhookId": "d8318fb3-2162-4b41-b2d4-0e8055636c6b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b0b2e81-e574-444f-b21b-0bbae58d1588",
              "name": "IdConversa",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "b022cc19-c341-4153-9913-c860656a6b1e",
              "name": "Mensagem",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        16
      ],
      "id": "37effe55-42a5-4a69-ae7d-eda8af0abca9",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a74912a1178de3030c1e15103a3527435d2a8948a5e353659c6744b90d2d8a94"
  }
}
