workflow2
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {
          "systemMessage": "=Você é uma tutora técnica. Responda à dúvida do aluno de forma clara, breve e use no máximo 2 emojis (se necessário)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        0
      ],
      "id": "7bd8ea8b-8cbd-417d-8b26-08e61a647dc8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "15653337-0466-48d5-8290-0ae609404e64",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "x9RDO1R4cWGdMkrM",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        208
      ],
      "id": "641234ef-27c2-4bbb-a57c-7becebbefdf4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        384,
        0
      ],
      "id": "bc100ad6-0fbe-4e12-8649-67efcba9643c",
      "name": "Reply to a message",
      "webhookId": "ae76b5cd-8b9b-4493-a4b9-9555ce644cf4",
      "credentials": {
        "gmailOAuth2": {
          "id": "iPN7YhBGi4hD2drq",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "Estudo"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        0
      ],
      "id": "b3d19e67-ab9c-4df3-9781-f5b051fdc0da",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "N5ZEWsjyO3xkVjEo",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a74912a1178de3030c1e15103a3527435d2a8948a5e353659c6744b90d2d8a94"
  }
}
